<li style="margin-left: 80%">
  <a href="<%= new_user_session_path%>" class="btn btn-default primary" data-method="get">Sign in</a> | 
  <a href="<%= new_user_registration_path%>" class="btn btn-default primary" data-method="get">Sign up</a>
</li>